.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgba(0,0,0,0.5);
    color:rgb(255,255,255);
    position: fixed;
    min-width: 100%;
    min-height: 9%;
}
.navbarOptions{
    padding: 0;
    min-width: 70%;
}
.navbarOptions li{
    display: inline-block;
    font-size: 1.5em;
    padding-left: 40px;
    list-style-type: none;
    cursor: pointer;
}
.navbarOptions a{
    color: inherit;
    text-decoration: none;
}
.navbarOptions a:hover{
    background-color: green;
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.section1 {
    grid-column: 1/8;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.section1 {
    grid-column: 1/8;
  }
}
