.section4{
    display:flex;
    grid-row: 7;
    grid-column: 1/8;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.5);
    color:rgb(255,255,255);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.section4{
    display:flex;
    grid-row: 8;
    grid-column: 1/8;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.5);
    color:rgb(255,255,255);
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}